EXPO_PUBLIC_SUPABASE_URL=https://tu-proyecto.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=tu-clave-anon-publica-aqui
# Opcional (Gratis en https://aistudio.google.com): Para generación ilimitada de devocionales con Inteligencia Artificial
EXPO_PUBLIC_GEMINI_API_KEY=tu-clave-gratuita-de-gemini-aqui

